node-red-door-contacts-flow.json
[
    {
        "id": "periodic-check",
        "type": "inject",
        "name": "Check Contacts Every 30s",
        "props": [{"p": "payload"}],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [["request-status"]]
    },
    {
        "id": "request-status",
        "type": "function",
        "name": "Request Contact Status",
        "func": "// List of contact devices\nconst contacts = [\n    'door_front',\n    'door_back',\n    'door_garage'\n    // Add more contact device names here\n];\n\n// Store contact list in flow context\nflow.set('contactList', contacts);\n\n// Create request messages for each contact\nconst messages = contacts.map(device => ({\n    topic: `zigbee2mqtt/${device}/get`,\n    payload: JSON.stringify({}),\n    device: device,\n    _msgid: node.id + '_' + device\n}));\n\nreturn messages;",
        "outputs": "multiple",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [["mqtt-request"]]
    },
    {
        "id": "mqtt-request",
        "type": "mqtt out",
        "name": "Request Status",
        "topic": "zigbee2mqtt/{{msg.device}}/get",
        "qos": "0",
        "retain": "false",
        "broker": "",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt-monitor",
        "type": "mqtt in",
        "name": "Monitor All Contacts",
        "topic": "zigbee2mqtt/#",
        "qos": "0",
        "broker": "",
        "x": 140,
        "y": 200,
        "wires": [["parse-contact"]]
    },
    {
        "id": "parse-contact",
        "type": "function",
        "name": "Parse Contact Status",
        "func": "// Get contact list from flow context\nconst contacts = flow.get('contactList') || [\n    'door_front',\n    'door_back',\n    'door_garage'\n];\n\n// Extract device name from topic\nconst topic = msg.topic;\nconst parts = topic.split('/');\nconst deviceName = parts[1]; // zigbee2mqtt/<device-name>\n\n// Check if this is a contact device\nif (!contacts.includes(deviceName)) {\n    return null; // Not a contact device, drop message\n}\n\n// Parse payload\nlet data;\ntry {\n    data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    data = { contact: msg.payload };\n}\n\n// Extract contact state\n// zigbee2mqtt contact sensors typically use:\n// - contact: true/false (false = open, true = closed)\n// - state.contact: true/false\n// - contact_sensor: true/false\nconst contactState = data.contact !== undefined ? data.contact : \n                    data.state?.contact !== undefined ? data.state.contact :\n                    data.contact_sensor !== undefined ? data.contact_sensor :\n                    data.state || msg.payload;\n\n// Determine if open or closed\n// false or 'open' = door/window is OPEN\n// true or 'closed' = door/window is CLOSED\nconst isOpen = contactState === false || \n               contactState === 'open' || \n               contactState === 'OPEN' ||\n               contactState === 0;\n               \nconst isClosed = contactState === true || \n                 contactState === 'closed' || \n                 contactState === 'CLOSED' ||\n                 contactState === 1;\n\nmsg.device = deviceName;\nmsg.contactState = contactState;\nmsg.isOpen = isOpen;\nmsg.isClosed = isClosed;\nmsg.timestamp = new Date().toISOString();\nmsg.lastUpdate = Date.now();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [["store-status"]]
    },
    {
        "id": "store-status",
        "type": "function",
        "name": "Store and Aggregate Status",
        "func": "const device = msg.device;\nconst contacts = flow.get('contactList') || [\n    'door_front',\n    'door_back',\n    'door_garage'\n];\n\n// Store current device status in flow context\nconst status = {\n    state: msg.contactState,\n    isOpen: msg.isOpen,\n    isClosed: msg.isClosed,\n    timestamp: msg.timestamp,\n    lastUpdate: msg.lastUpdate\n};\n\nflow.set(`contact_${device}`, status);\n\n// Get all contacts status\nconst allStatus = {};\nconst openContacts = [];\nconst closedContacts = [];\nconst unknownContacts = [];\n\ncontacts.forEach(contact => {\n    const stored = flow.get(`contact_${contact}`);\n    if (stored) {\n        allStatus[contact] = stored;\n        if (stored.isOpen === true) {\n            openContacts.push(contact);\n        } else if (stored.isClosed === true) {\n            closedContacts.push(contact);\n        } else {\n            unknownContacts.push(contact);\n        }\n    } else {\n        allStatus[contact] = { \n            state: 'unknown', \n            isOpen: null,\n            isClosed: null,\n            timestamp: null\n        };\n        unknownContacts.push(contact);\n    }\n});\n\n// Create summary\nmsg.allContacts = allStatus;\nmsg.openContacts = openContacts;\nmsg.closedContacts = closedContacts;\nmsg.unknownContacts = unknownContacts;\nmsg.hasOpenContacts = openContacts.length > 0;\nmsg.summary = {\n    total: contacts.length,\n    open: openContacts.length,\n    closed: closedContacts.length,\n    unknown: unknownContacts.length\n};\n\n// Set payload for display\nmsg.payload = {\n    status: msg.hasOpenContacts ? 'ALERT' : 'OK',\n    summary: msg.summary,\n    openContacts: openContacts,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [["check-status", "debug-all"]]
    },
    {
        "id": "check-status",
        "type": "switch",
        "name": "Check if Any Open",
        "property": "msg.hasOpenContacts",
        "propertyType": "msg",
        "rules": [
            {\n                \"t\": \"true\"\n            },\n            {\n                \"t\": \"false\"\n            }\n        ],
        "checkAll": "false",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 200,
        "wires": [["alert-open"], ["log-ok"]]
    },
    {
        "id": "alert-open",
        "type": "function",
        "name": "Alert: Open Contacts",
        "func": "const openContacts = msg.openContacts || [];\nconst allStatus = msg.allContacts || {};\n\n// Create detailed alert message\nconst alertDetails = openContacts.map(name => ({\n    device: name,\n    status: allStatus[name].state,\n    timestamp: allStatus[name].timestamp,\n    isOpen: true\n}));\n\nconst alertMsg = {\n    alert: true,\n    type: 'door_open',\n    severity: 'warning',\n    message: `⚠️ ${openContacts.length} contact(s) are OPEN`,\n    openContacts: alertDetails,\n    summary: msg.summary,\n    timestamp: new Date().toISOString()\n};\n\nmsg.payload = alertMsg;\nmsg.topic = 'alerts/contacts';\nmsg.alert = true;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 150,
        "wires": [["mqtt-alert", "notify-alert"]]
    },
    {
        "id": "log-ok",
        "type": "function",
        "name": "Log Status OK",
        "func": "msg.payload = {\n    status: 'ok',\n    message: 'All contacts are closed',\n    summary: msg.summary,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 250,
        "wires": [["debug-ok"]]
    },
    {
        "id": "mqtt-alert",
        "type": "mqtt out",
        "name": "Publish Alert",
        "topic": "alerts/contacts",
        "qos": "0",
        "retain": "false",
        "broker": "",
        "x": 1240,
        "y": 150,
        "wires": []
    },
    {
        "id": "notify-alert",
        "type": "notify",
        "name": "Notify Open Contacts",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-all",
        "type": "debug",
        "name": "All Contacts Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "debug-ok",
        "type": "debug",
        "name": "Status OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 250,
        "wires": []
    }
]
